<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @*<link href="~/Assets/Admin/assets/css/styles.css" rel="stylesheet" />*@
    <link href="~/Assets/Admin/assets/css/bootstrap_.css" rel="stylesheet" />

    <!-- CSS Phân Trang -->

    <link rel="stylesheet" href="~/Assets/admin/assets/css/PagedList.css">

    <!-- /CSS Phân Trang -->
    <!-- JS  deletecartItem-->
    <script src="https://kit.fontawesome.com/11fdb00ab9.js" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.14/dist/sweetalert2.all.min.js"></script>

    <!-- /JS  deletecartItem-->
    
    <!-- AJAX chỉnh sửa ĐƠN ĐẶT-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    <!-- /AJAX chỉnh sửa ĐƠN ĐẶT-->
</head>

<body>
    @RenderPage("_Header.cshtml")

    @RenderPage("_Sidebar.cshtml")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/Assets/admin/assets/js/scripts.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Admin/assets/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Assets/Admin/assets/demo/chart-area-demo.js"></script>
    <script src="~/Assets/Admin/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="~/Assets/Admin/assets/demo/datatables-demo.js"></script>
</body>
</html>

